@import "../base/vars";

.btn {
  text-decoration: none;
  color: $dark-color;
  display: inline-block;

  &__primary{
    font-family: $font-open-bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 33px;
    border-radius: 6px;
    background-color: $primary-color;

    transition: opacity .3s;

    &:hover{
      opacity: 0.8;
    }
  }

  &__primary-outline{
    justify-content: space-between;
    font-family: $font-open-bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 4px;
    border: 2px solid $primary-color;
    transition: opacity .3s;

    &:hover{
      opacity: 0.8;
    }

    i{
      padding-right: 15px;
      position: relative;
      top: 3px;
      font-size: 20px;
    }


  }
}
