extends ../../components/base/base
block title
    title Главная страницы
block content
    main.landing
        section(style='background: url('+require('./img/screen-01.jpg')+') no-repeat center center; background-size: cover').screen-1
            div.screen-1__wrap
                //- h1
                h1.screen-1__title Оборудование для майнинга от BiXBiT
                //- Benefits
                ul.screen-1__benefit.benefit
                    li.benefit__item
                        i.icon-power.benefit__icon
                        div.benefit__percent +40%
                        div.benefit__desc УВЕЛИЧЕНИЯ<br>HASHRATE
                    li.benefit__item
                        i.icon-bio.benefit__icon
                        div.benefit__percent +100%
                        div.benefit__desc УТИЛИЗАЦИИ<br>ТЕПЛА
                    li.benefit__item
                        i.icon-repair.benefit__icon
                        div.benefit__percent +200%
                        div.benefit__desc СРОК СЛУЖБЫ<br>ОБОРУДОВАНИЯ
                    li.benefit__item
                        i.icon-volume.benefit__icon
                        div.benefit__percent -100%
                        div.benefit__desc ШУМА И<br>ПЫЛИ
                    li.benefit__item
                        i.icon-energy.benefit__icon
                        div.benefit__percent -30%
                        div.benefit__desc ПОТРЕБЛЕНИЯ<br>ЭЛЕКТРОЭНЕРГИИ
                //-action
                div.screen-1__action
                    a(href="javascript:void(0)").btn__primary УЗНАТЬ ПОДРОБНОСТИ

        section.screen-2
            div.screen-2__wrap
                div.screen-2__img-block
                    img(src=require('./img/bixbit_rack.png'))

                div.screen-2__params-block
                    h2.screen-2__title Стойка BiXBiT
                    div.screen-2__group
                        div.screen-2__subtitle ASIC / GPU / FPGA
                        div.screen-2__price от  $ 3 300

                    div.screen-2__desc Конструкция состоит из четырех ячеек, стального каркаса, необходимой гидравлической и электрической обвязки и защитной автоматики. Предназначена для увеличения доходности от майнинга, путем эффективного охлаждения, разгона и продления срока службы оборудования. При необходимости комплектуется системой управления и градирней для рассеивания тепла в окружающую среду. Вертикальная компоновка оборудования позволяет рационально использовать пространство в помещении. Предусмотрено подключение к инженерным сетям для полезной утилизации вырабатываемого тепла.

                    div.screen-2__props-block.props
                        div.props__title ХАРАКТЕРИСТИКИ
                        ul.props__list
                            li.props__item
                                div.props__item-title Кол-во устройств
                                div.props__item-desc ASIC / 96x GPU/FPGA
                            li.props__item
                                div.props__item-title Габариты
                                div.props__item-desc 626x750x2050
                            li.props__item
                                div.props__item-title Потребление эл. энергии
                                div.props__item-desc до 1kW
                            li.props__item
                                div.props__item-title Охлаждение второго контура
                                div.props__item-desc градирня/вода
                            li.props__item
                                div.props__item-title Теплоотвод
                                div.props__item-desc до 60kW

                    div.screen-2__action
                        a(href="javascript:void(0)").btn.btn__primary КУПИТЬ СТОЙКУ
                        a(href="https://www.youtube.com/watch?v=y7WLUwB76EE" target="blank").btn.btn__primary-outline
                            i.icon-play
                            span ПОСМОТРЕТЬ ВИДЕО
        section.screen-3
            div.screen-3__title Преимущества иммерсионного охлаждения перед воздушным
            div.screen-3__benefits-block.benefit_full
                div.benefit_full__item
                    div.benefit_full__icon
                        img(src=require('./img/power-2.svg'))
                    div.benefit_full__percent +40<span>%</span>
                    div.benefit_full__title УВЕЛИЧЕНИЯ HASHRATE
                    div.benefit_full__desc Применение иммерсионного метода охлаждения позволяет равномерно отводить тепло от всех элементов оборудования, что позволяет безопасно повысить производительность устройств до 40%

                div.benefit_full__item
                    div.benefit_full__icon
                        img(src=require('./img/bio-2.svg'))
                    div.benefit_full__percent +100<span>%</span>
                    div.benefit_full__title УТИЛИЗАЦИИ ТЕПЛА
                    div.benefit_full__desc Генерируемое оборудованием тепло можно утилизировать для домашних и промышленных нужд путем подключения установки к системе отопления. Это позволяет использовать вырабатываемое тепло для отопления домов, тепличных хозяйств, промышленных предприятий и др.
                div.benefit_full__item
                    div.benefit_full__icon
                        img(src=require('./img/repair-2.svg'))
                    div.benefit_full__percent +200<span>%</span>
                    div.benefit_full__title СРОК СЛУЖБЫ ОБОРУДОВАНИЯ
                    div.benefit_full__desc Иммерсионная жидкость ‘COOLANT’ продлевает срок службы оборудования в 2 и более раза за счет обеспечения оптимальной среды для работы вычислительных устройств и отсутствия перепада температур.
                div.benefit_full__item
                    div.benefit_full__icon
                        img(src=require('./img/volume-2.svg'))
                    div.benefit_full__percent -100<span>%</span>
                    div.benefit_full__title ШУМА И ПЫЛИ
                    div.benefit_full__desc Перед погружением в иммерсионную жидкость все устройства проходят полную очистку. Демонтируется основной источник шума - кулеры. Закрытая конструкция емкостей защищает оборудование от дальнейшего попадания пыли и других внешних воздействий.

                div.benefit_full__item
                    div.benefit_full__icon
                        img(src=require('./img/energy-2.svg'))
                    div.benefit_full__percent -30<span>%</span>
                    div.benefit_full__title ПОТРЕБЛЕНИЫЯ ЭЛЕКТРОЭНЕРГИИ
                    div.benefit_full__desc Энергопотребление при использовании воздушной системы охлаждения достигает 30% от полезной мощности вычислительного оборудования. При использовании иммерсионного охлаждения этот показатель снижается до 3-4%, т.е. более чем в 10 раз.


        section.screen-4
            div.screen-4__title Фото оборудования
            div.screen-4__slider
                include ../../components/instagram/instagram
            div.screen-4__action
                a(href="javascript:void(0)").btn.btn__primary Узнать условия покупки