@import "../../components/btn/btn";
@import "../../components/base/vars";
@import "../../components/base/smartgrid";

.landing{}

.landing .screen-1{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 90px 0;
  background: url("./img/screen-01.jpg") no-repeat center center;
  background-size: cover;

  &__wrap{
    @include row-flex();
    flex-direction: column;
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto;
    min-height: calc(100vh - 190px);
  }

  &__title{
    font-family: $font-open-bold;
    font-size: 48px;
    letter-spacing: -0.2px;
    color: $white-color;
    text-align: center;
    box-sizing: border-box;
    padding: 0 25px;
    margin-bottom: 50px;
  }

  &__benefit{}
  
  &__action{
    text-align: center;
  }

}
.landing .benefit{

  @include row-flex();
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  color: $white-color;
  padding: 0 25px;

  &__item{}

  &__icon{
    font-size: 60px;
  }

  &__percent{
    font-family: $font-open-bold;
    font-size: 18px;
    margin-top: 16px;
  }

  &__desc{
    font-family: $font-open-bold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}


.landing .screen-2{

  padding: 75px 0;
  background-image: linear-gradient(to top, #f8f8f8, $white-color);

  &__wrap{
    @include row-flex();
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__params-block{
    box-sizing: border-box;
    padding: 25px;
    max-width: 560px;
  }

  &__props-block{
    margin-bottom: 25px;
  }

  &__img-block{
    position: relative;
    img{
      position: sticky;
      top: 50px;
      bottom: 0;
    }
  }

  &__group{
    @include row-flex();
    justify-content: space-between;
  }

  &__title{
    font-family: $font-open-bold;
    font-size: 40px;
    color: $dark-color;
    line-height: 40px;
  }

  &__subtitle{
    font-family: $font-open-bold;
    font-size: 22px;
    line-height: 22px;
    color: $dark-color;
  }

  &__price{
    font-family: $font-open-semibold;
    font-size: 20px;
    line-height: 20px;
    color: $dark-color;
  }

  &__desc{
    font-family: $font-open-regular;
    font-size: 17px;
    color: $dark-color;
    letter-spacing: -0.05px;
    opacity: 0.8;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  &__action{
    .btn{
    }
    .btn:first-child{
      margin-bottom: 30px;

      margin-right: 30px;
    }
    box-sizing: content-box;
  }
}
.landing .props{
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 15px;

  &__title{
    font-family: $font-open-bold;
    font-size: 18px;
    color: $dark-color;
    margin-bottom: 15px;
  }

  &__item{
    @include row-flex();
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 15px;
  }

  &__item-title{
    font-family: $font-open-regular;
    font-size: 15px;
    color: $dark-color;
    letter-spacing: 0;
  }

  &__item-desc{
    text-align: right;
    flex-grow: 1;
    font-family: $font-open-semibold;
    font-size: 15px;
    color: $dark-color;
  }

}


.landing .screen-3{
  padding: 80px 0;

  &__title{
    font-family: $font-open-bold;
    font-size: 36px;
    color: $dark-color;
    letter-spacing: -0.1px;
    text-align: center;
    max-width: 859px;
    margin: 0 auto 70px auto;
  }

}
.landing .benefit_full{

  @include row-flex();
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;

  &__item{
    @include col();
    @include size(4);
    @include size-md(12);
    @include row-flex();
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px 30px 30px 30px;

    position: relative;

    &:before{
      content: " ";
      height: 70%;
      border-right: 1px solid #f1f1f1;

      position: absolute;
      right: 0;
      top: 15%;
    }

  }

  &__item:nth-child(3n):before,
  &__item:last-child:before{
    display: none;
  }

  &__item:nth-child(2){
    border-bottom: 1px solid #f1f1f1;
  }

  &__icon{
    max-width: 305px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__percent{
    font-family: $font-open-regular;
    font-size: 40px;
    line-height: 40px;
    color: $dark-color;
    letter-spacing: -0.1px;

    span{
      font-family: $font-open-semibold;
      font-size: 26px;
    }
  }

  &__title{
    font-family: $font-open-semibold;
    font-size: 20px;
    color: $dark-color;
    text-transform: uppercase;
    letter-spacing: -0.1px;
    margin-bottom: 6px;
  }

  &__desc{
    max-width: 305px;
    font-family: $font-open-regular;
    font-size: 16px;
    color: $dark-color;
    line-height: 22px;
    letter-spacing: -0.1px;
    opacity: 0.9;
  }

}


.landing .screen-4{
  padding: 50px 0 100px;

  &__title{
    font-family: $font-open-bold;
    font-size: 36px;
    color: $dark-color;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 25px;
  }
  &__slider{
    margin-bottom: 70px;
  }
  &__action{
    text-align: center;
  }
}

/* MEDIA */
.landing .screen-1{
  @include sm-block{
    padding: 50px 0;

    &__wrap{
      min-height: calc(100vh - 100px);
    }

    &__title{
      text-align: center;
      font-size: 36px;
      padding: 0 25px;
      margin-bottom: 0;
    }

    &__benefit{
      padding-left: 25px;
    }
  }
}
.landing .benefit{
  @include lg-block{

  }
  @include sm-block{

    overflow-x: scroll;
    &__item{
      min-width:36vw;

      &:last-child{
        padding-right: 40px;
      }
    }

  }
}

.landing .screen-2{
  @include lg-block{}
  @include lg-block{
    padding: 20px 0 50px 0;

    &__wrap{
      flex-wrap: wrap;
    }

    &__params-block{
      margin: 0 auto;
      padding: 0 25px;
    }

    &__img-block{
      margin: 0 auto 25px auto;
      overflow: hidden;
      img{
        position: relative;
        right: -6%;
      }

    }

    &__group{
      flex-direction: column;
    }

    &__title{
      font-size: 30px;
      line-height: 40px;
    }

    &__subtitle{
      font-size: 18px;
      line-height: 18px;
    }

    &__price{
      margin-top: 10px;
    }

    &__action{

    }
  }
}

.landing .screen-3{

  @include md-block{
    padding: 50px 25px ;
   &__title{
     font-size: 30px;
     padding: 0 25px;
     margin-bottom: 25px;
   }
  }
}
.landing .benefit_full{

  @include md-block{
    justify-content: center;

    &__item{
      padding: 25px 0;
      align-items: center;
      border-bottom: 1px solid #f1f1f1
    }
    &__item:last-child{
      border: none;
    }

    &__item:after, &__item:before{
      display: none;
    }

    &__title, &__percent, &__desc{
      text-align: center;
    }
  }
}