@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?volr60');
  src:  url('fonts/icomoon.eot?volr60#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?volr60') format('truetype'),
    url('fonts/icomoon.woff?volr60') format('woff'),
    url('fonts/icomoon.svg?volr60#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e900";
  color: #f7b409;
}
.icon-power:before {
  content: "\e901";
  color: #fff;
}
.icon-repair:before {
  content: "\e902";
  color: #fff;
}
.icon-volume:before {
  content: "\e903";
  color: #fff;
}
.icon-bio:before {
  content: "\e904";
  color: #fff;
}
.icon-energy:before {
  content: "\e905";
  color: #fff;
}
