@import "../base/vars";
@import "../base/smartgrid";

#instagram{
  @include row-flex();
  flex-wrap: nowrap;
  max-height: 320px;
  overflow: hidden;

  img {
    height: 320px;
    width: auto;
  }

  @include sm-block{
    overflow-x: scroll;
  }
}