@import "vars";

@font-face {
  font-family: $font-open-bold;
  src: url('../../components/base/fonts/OpenSans/OpenSans-Bold.eot');
  src: local('OpenSans-Bold'), local('OpenSans-Bold'),
  url('../../components/base/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../components/base/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
  url('../../components/base/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: $font-open-semibold;
  src: url('../../components/base/fonts/OpenSans/OpenSans-SemiBold.eot');
  src: local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
  url('../../components/base/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../components/base/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
  url('../../components/base/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: $font-open-regular;
  src: url('../../components/base/fonts/OpenSans/OpenSans-Regular.eot');
  src: local('OpenSans-Regular'), local('OpenSans-Regular'),
  url('../../components/base/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../components/base/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
  url('../../components/base/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

