@import "vars";

@font-face {
  font-family: $font-icon-moon;
  src: url('../../components/base/fonts/Icon/icomoon.eot?sqyfdl');
  src: url('../../components/base/fonts/Icon/icomoon.eot?sqyfdl#iefix') format('embedded-opentype'),
  url('../../components/base/fonts/Icon/icomoon.ttf?sqyfdl') format('truetype'),
  url('../../components/base/fonts/Icon/icomoon.woff?sqyfdl') format('woff'),
  url('../../components/base/fonts/Icon/icomoon.svg?sqyfdl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icon-moon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-play:before {
  content: "\e900";
  color: #f7b409;
}
.icon-power:before {
  content: "\e901";
  color: #fff;
}
.icon-repair:before {
  content: "\e902";
  color: #fff;
}
.icon-volume:before {
  content: "\e903";
  color: #fff;
}
.icon-bio:before {
  content: "\e904";
  color: #fff;
}
.icon-energy:before {
  content: "\e905";
  color: #fff;
}