// Colors
$primary-color: #eeb533;
$primary-light-color: #eec348;
$success-color: #0bb07b;
$dark-color: #222222;
$white-color: #ffffff;


// Fonts

$font-open-bold: 'OpenSans-Bold';
$font-open-semibold: 'OpenSans-SemiBold';
$font-open-regular: 'OpenSans-Regular';

$font-icon-moon: 'IconMoon';

